.site-banner {
  background: $bold-yellow;
  padding: .5rem 1rem;
  // color: $white;
  font-size: 0.9rem;
  text-align: center;
  justify-content: center;
  align-items: center;

  p {
    display: inline;
  }

  a {
    color: $grey;

    &:hover {
      text-decoration: none;
    }

    &:focus,
    &:active {
      color: $bold-yellow;
      background: $black;
      outline: 3px solid $black;
    }
  }
}