.site-banner {
  background: $black;
  padding: .75rem 1rem;
  color: $white;
  text-align: center;
  justify-content: center;
  align-items: center;

  p {
    display: inline;
  }

  a {
    color: $white;
    font-weight: 500;

    &:hover {
      text-decoration: none;
    }

    &:focus,
    &:active {
      color: $black;
      background: $white;
      outline: 3px solid $white;
    }
  }
}