.case-study {
  display: grid;
  gap: 2rem;

  @media screen and (min-width: 800px) {
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    align-items: flex-start;

    dl {
      margin-right: 3rem
    }
  }

  main {
    display: grid;
    gap: 2rem;
  }

  .flexible-content {
    margin-top: 0;
    grid-template-columns: 1fr
  }

  &__actions {
    display: flex;
    gap: 1rem;

    @media screen and (min-width: 800px) {
      flex-direction: row;
    }

    a {
      flex: 1;
      color: $black;
      background: $white;
      text-decoration: none;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 2px;
      padding: 1rem 1.5rem;
      text-transform: uppercase;
      border: 3px solid $black;
      display: flex;
      justify-content: space-between;
      align-items: center;

      svg {

        rect {
          fill: $black;
        }

        path {
          stroke: $black;
        }
      }

      &:hover {
        color: $grey;
        border-color: $grey;

        svg {

          rect {
            fill: $grey;
          }

          path {
            stroke: $grey;
          }
        }
      }

      &:focus,
      &:active {
        background: $black;
        border-color: $black;
        color: $white;
        outline: none;

        svg {

          rect {
            fill: $white;
          }

          path {
            stroke: $white;
          }
        }
      }
    }
  }

}