.collage {
  display: grid;
  overflow: hidden;
  gap: 1rem;
  height: 70vmin;
  margin-top: 1rem;

  grid-template-areas:
    ". . . . . . a a a a a ."
    "b b b b b b a a a a a ."
    "b b b b b b a a a a a ."
    "b b b b b b a a a a a ."
    "b b b b b b c c c c c c"
    "b b b b b b c c c c c c"
    "b b b b b b c c c c c c"
    "b b b b b b c c c c c c"
    ". d d d d d c c c c c c"
    ". d d d d d c c c c c c"
    ". d d d d d . . . . . ."
    ". d d d d d . . . . . ."
  ;

  @media screen and (min-width: 800px) {
    height: 100vmin;
    margin-top: -3rem;
    grid-template-areas:
      ". . . . . . a a a a . ."
      ". . . . . . a a a a . ."
      "b b b b b . a a a a . ."
      "b b b b b . a a a a . ."
      "b b b b b . a a a a . ."
      "b b b b b c c c c c c c"
      "b b b b b c c c c c c c"
      "b b b b b c c c c c c c"
      "b b b b b c c c c c c c"
      ". . . d d c c c c c c c"
      ". . . d d c c c c c c c"
      ". . . d d . . . . . . ."
    ;
  }

  img {
    display: block;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__image-holder {
    position: relative;
  }

  &__image-holder:nth-child(1) {
    grid-area: a;
  }

  &__image-holder:nth-child(2) {
    grid-area: b;
  }

  &__image-holder:nth-child(3) {
    grid-area: c;
  }

  &__image-holder:nth-child(4) {
    grid-area: d;
  }

  &--flipped {
    grid-template-areas:
      " . . . . . . b b b b b b"
      " a a a a a a b b b b b b"
      " a a a a a a b b b b b b"
      " a a a a a a b b b b b b"
      " a a a a a a c c c c c ."
      " . . . . . . c c c c c ."
    ;

    @media screen and (min-width: 800px) {
      grid-template-areas:
        " . . . . . . b b b b b b"
        " a a a a a a b b b b b b"
        " a a a a a a b b b b b b"
        " a a a a a a b b b b b b"
        " a a a a a a c c c . . ."
        " . . . . . . c c c . . ."
      ;
    }
  }

  .icon {
    display: none;

    @media screen and (min-width: 800px) {
      grid-column: 10/12;
      grid-row: 5/7;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  svg {
    position: absolute;
  }
}