.marquee {
  margin-top: 1rem;
  mix-blend-mode: multiply;

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-right: 2rem;
  }

  img {
    filter: grayscale(1);
    max-height: 4.75rem;
    width: auto;
  }
}