.marquee {
  margin-top: 1rem;
  mix-blend-mode: multiply;

  // position: relative;
  // overflow: hidden;
  // --offset: 100vw;
  // --move-initial: calc(-25% + var(--offset));
  // --move-final: calc(-50% + var(--offset));

  &__inner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    flex-wrap: wrap;
    gap: 2rem;

    // width: fit-content;
    // display: flex;
    // position: relative;
    // transform: translate3d(var(--move-initial), 0, 0);
    // animation: marquee 5s linear infinite;
    // animation-play-state: paused;
  }

  // @keyframes marquee {
  //   0% {
  //     transform: translate3d(var(--move-initial), 0, 0);
  //   }

  //   100% {
  //     transform: translate3d(var(--move-final), 0, 0);
  //   }
  // }



  img {
    filter: grayscale(1);
    max-height: 5rem;
    width: auto;
  }
}