.page-header {
  padding: $standard-padding;

  @media screen and (min-width: 800px) {
    padding-top: 5rem;
  }

  h1 {
    font-size: 2.5rem;

    @media screen and (min-width: 800px) {
      max-width: 50%;
      font-size: 2.9rem;
      line-height: 1.2;
    }
  }

  &--full-width h1 {
    @media screen and (min-width: 800px) {
      max-width: 100%
    }
  }

  p {
    margin-top: 0.5rem;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.5;

    @media screen and (min-width: 800px) {
      font-size: 1.6rem;
      max-width: 40%;
    }
  }
}