.site-footer {
  background: $black;
  color: $white;
  padding: 3rem $standard-padding 2rem $standard-padding;
  line-height: 1.5;
  font-size: 1rem;

  @media screen and (min-width: 800px) {
    padding: 5rem $standard-padding 2rem $standard-padding;
  }

  h2 {
    font-size: 1.1rem;
    margin-bottom: 0.75rem;
    font-weight: 500;
  }

  p+p {
    margin-top: 0.5rem;
  }

  address {
    font-style: normal;
  }

  address+h2 {
    margin-top: 1.5rem;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }

  img {
    height: auto;
    margin-bottom: 0.5rem;
    max-width: 200px;
  }

  &__links {
    display: grid;
    gap: 1.5rem;

    @media screen and (min-width: 800px) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 3rem;
    }
  }

  aside {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid transparentize($white, 0.9);

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }

    @media screen and (min-width: 800px) {
      padding-bottom: 0;
      border-bottom: none;

      padding-right: 3rem;
      border-right: 1px solid transparentize($white, 0.9);

      &:last-child {
        padding-right: 0;
        border-right: none;
      }
    }
  }

  a {
    color: $white;

    &:hover {
      color: transparentize($white, 0.2);
    }

    &:focus,
    &:active {
      color: $black;
      background: $white;
      outline: 3px solid $white;
    }
  }

  &__info {
    display: grid;
    gap: 1rem;
    margin-top: 2rem;
    border-top: 1px solid $white;
    padding-top: 2rem;
    font-size: 0.9rem;
  }

  &__marks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;

    * {
      max-height: 70px;
      width: auto;
    }

    @media screen and (min-width: 800px) {
      flex-direction: row;
      justify-content: flex-start;
      gap: 2.5rem;
    }
  }
}