<head>
  <link href="/index.css" rel="stylesheet" type="text/css"/>
  <meta name="viewport" content="width=device-width">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,600;0,700;1,400;1,700&display=swap" rel="stylesheet">
  <link rel="icon" href="/assets/favicon.png">
  <meta charset="utf-8">

  <!-- Primary Meta Tags -->
  <title>{{ title | striptags }} | Interrobang</title>
  <meta name="title" content="Hi, we're Interrobang">
  <meta name="description" content="We’re a tiny design, technology and research studio who help people be their best. If you're reading this, we'd probably like to work with you.">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://interrobang.uk/">
  <meta property="og:title" content="Hi, we're Interrobang">
  <meta property="og:description" content="We’re a tiny design, technology and research studio who help people be their best. If you're reading this, we'd probably like to work with you.">
  <meta property="og:image" content="/assets/social.jpg">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://interrobang.uk/">
  <meta property="twitter:title" content="Hi, we're Interrobang">
  <meta property="twitter:description" content="We’re a tiny design, technology and research studio who help people be their best. If you're reading this, we'd probably like to work with you.">
  <meta property="twitter:image" content="/assets/social.jpg">
</head>