<header class="site-header">
  <a href="/">
    {% include "_logo.njk" %}
  </a>

  <nav>
    <a href="#services">Services</a>
    <a href="#clients">Clients</a>
    <a href="#values">Values</a>
    <a href="#blog">Blog</a>
    <a href="#contact">Contact</a>
  </nav>

  <nav>
    <a href="#">hello@interrobang.uk</a>
    <a href="#">LinkedIn</a>
  </nav>
</header>