<header class="site-header">
  <a href="/">
    {% include "_logo.njk" %}
    <span class="visually-hidden">Interrobang</span>
  </a>

  <nav>
    <a href="#services">Services</a>
    <a href="#clients">Clients</a>
    <a href="#values">Values</a>
    <a href="#blog">Blog</a>
    <a href="#contact">Contact</a>
  </nav>

  <nav>
    <a href="mailto:hello@interrobang.uk">hello@interrobang.uk</a>
    <a href="https://www.linkedin.com/company/interrobang-digital">LinkedIn</a>
  </nav>
</header>