<!doctype html>
<html lang="en">

  {% set title = title %}

  {% include "_head.njk" %}
  {% include "_header.njk" %}

  <header class="blog-header">
    <p>Changelog · {{page.date.toDateString() }}</p>
    <h1>{{ title }}</h1>
    <p>{{ authors }}</p>
  </header>

  <article class="blog-content">
    {{ content | safe }}
  </article>

  {% include "_blog-list.njk" %}
  {% include "_contact.njk" %}
  {% include "_footer.njk" %}
</body>
</html>