<!doctype html>
<html lang="en">

  {% set title = "with ❤️ from interrobang" %}

  {% include "_head.njk" %}
  {% include "_header.njk" %}

  <section class="hero" id="hero">
    <h1>We’re a design, technology and research studio who help people be their best</h1>
  </section>

  <section class="services" id="services">
    <aside>
      <div>
        <img src="/assets/jaye.jpg" alt="Jaye Hackett"/>
        <img src="/assets/chloe.jpg" alt="Chloe Coleman"/>
      </div>

      <p>We founded Interrobang because we wanted to get back to basics: delivering real user-led change in the public sector.</p>
      <p>Our interdisciplinary approach sees the world through three lenses.</p>
      <dl>
        <dd>40+</dd>
        <dt>public and third sector clients</dt>
      </dl>
    </aside>

    <ul class="tile-list">
      <li class="tile-list__tile">
        <h2>Research</h2>
        <p>For us, everything starts with building a deep, empathetic understanding of users and their needs.</p>
        <p>This involves:</p>
        <ul>
          <li>Turning prior work into hypotheses, so we don’t re-invent the wheel</li>
          <li>One-to-one interviews</li>
          <li>Interactive workshops</li>
        </ul>
      </li>

      <li class="tile-list__tile">
        <h2>Design</h2>
        <p>We do participatory, user-led design that marries the lived experience of your users with our expertise.</p>
        <p>In practice, this means lots of:</p>
        <ul>
          <li>design sprints</li>
          <li>co-design workshops</li>
          <li>prototyping things and getting early feedback</li>
        </ul>
      </li>

      <li class="tile-list__tile">
        <h2>Technology</h2>
        <p>We are technology-agnostic. We don't chase trends. Instead, we’ll consider things like:</p>
        <ul>
          <li>sustainable upfront and ongoing costs</li>
          <li>the ease of keeping things up and running after the project</li>
          <li>a good fit to your context and the skills of your staff</li>
        </ul>
      </li>
    </ul>
  </section>

  <section class="values" id="values">
    <img src="/assets/values2.jpg" alt=""/>

    <img src="/assets/values1.jpg" alt=""/>

    <img src="/assets/values3.jpg" alt=""/>

    <div>
      <h2>Our values</h2>
      <p>Our people come from all places and backgrounds. Civil service, creative agencies. Our participatory approach means that we don’t try to be the experts: we find and empower the experts that already exist in the community, and help them raise their voices.</p>
    </div>
  </section>

  <section class="clients" id="clients">
    <h2>We've worked with</h2>

    <div>
      <img src="/assets/logos/ageuk.png" alt="Age UK"/>
      <img src="/assets/logos/bfi.png" alt="BFI"/>
      <img src="/assets/logos/bucks.png" alt="Buckinghamshire Council"/>
      <img src="/assets/logos/camden.png" alt="Camden Council"/>
      <img src="/assets/logos/crisis.png" alt="Camden Council"/>
      <img src="/assets/logos/cymru.png" alt="Camden Council"/>
      <img src="/assets/logos/devon.png" alt="Devon Council"/>
      <img src="/assets/logos/dfe.png" alt="Department for Education"/>
      <img src="/assets/logos/dft.png" alt="Department for Transport"/>
      <img src="/assets/logos/essex.png" alt="Essex Council"/>
      <img src="/assets/logos/gds.png" alt="Government Digital Service"/>
      <img src="/assets/logos/hackney.png" alt="Hackney Council"/>
      <img src="/assets/logos/ho.png" alt="Home Office"/>
      <img src="/assets/logos/kent.png" alt="Kent County Council"/>
      <img src="/assets/logos/moj.png" alt="Ministry of Justice"/>
      <img src="/assets/logos/nhsd.png" alt="NHS Digital"/>
      <img src="/assets/logos/puk.png" alt="Parkinsons UK"/>
      <img src="/assets/logos/uc.png" alt="Universal Credit"/>
    </div>
  </section>

  {% include "_blog-list.njk" %}
  {% include "_contact.njk" %}
  {% include "_footer.njk" %}
</body>
</html>