$black: #212121;
$white: #F0F0F0;
$yellow: #E6D962;

* {
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

body {
  margin: 0;
  background: $yellow;
  color: $black;
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  @media screen and (min-width: 600px) {
    padding: 3rem;
  }
}


main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
  flex: 1;

  * {
    margin: 0;
  }
}

svg {
  width: 400px;
  max-width: 100%;

  path {
    fill: $black;
  }
}

a {
  color: lighten($black, 15);

  &:hover {
    color: lighten($black, 30);
    text-decoration: none;
  }

  &:focus,
  &:active {
    border: none;
    color: $yellow;
    background: $black;
    outline: 3px solid $black;
  }
}


.big {
  font-size: 2rem;
  max-width: 900px;

  a {
    color: lighten($black, 15);
    text-decoration: none;
    border-bottom: 4px solid lighten($black, 15);
    line-height: 1;
    display: inline-block;


    &:hover {
      color: lighten($black, 30);
      border-color: lighten($black, 30);
      ;
    }

    &:focus,
    &:active {
      border: none;
      color: $yellow;
      background: $black;
      outline: 3px solid $black;
    }
  }
}