$black: #212121;
$white: #fafafa;
$yellow: #E6D962;

* {
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}

body {
  margin: 0;
  background: $yellow;
  color: $black;
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  @media screen and (min-width: 600px) {
    padding: 3rem;
  }
}


main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5rem;
  flex: 1;

  * {
    margin: 0;
  }
}

svg {
  // width: 400px;
  max-width: 100%;

  path {
    fill: $black;
  }
}

a {
  color: lighten($black, 15);

  &:hover {
    color: lighten($black, 30);
    text-decoration: none;
  }

  &:focus,
  &:active {
    border: none;
    color: $yellow;
    background: $black;
    outline: 3px solid $black;
  }
}


.big {
  font-size: 2rem;
  max-width: 900px;

  a {
    color: lighten($black, 15);
    text-decoration: none;
    display: inline-block;
    position: relative;

    svg {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 6px;

      path {
        fill: lighten($black, 15);
      }
    }


    &:hover {
      color: lighten($black, 30);

      svg path {
        fill: lighten($black, 30);
      }
    }

    &:focus,
    &:active {
      color: $yellow;
      background: $black;
      outline: 3px solid $black;

      svg path {
        fill: $yellow;
      }
    }
  }
}