$max-width: 750px;

.blog-header {
  @include standard-padding;
  text-align: center;
  max-width: calc($max-width + 200px);
  margin: 0 auto;

  h1 {
    @include massive-text;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }

  p {
    font-weight: 600;

    @media screen and (min-width: 500px) {
      font-size: 1.1rem;
    }

    @media screen and (min-width: 700px) {
      font-size: 1.2rem;
    }
  }
}


.blog-content {
  @include standard-padding;
  @include top-rule;
  max-width: $max-width;
  margin: 0 auto;

  *+* {
    margin-top: 1rem;
  }

  h2,
  h3,
  h4,
  h5 {
    margin-top: 2rem;
  }


  a {
    color: darken($bold-red, 10);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      color: darken($bold-red, 20);
    }

    &:active,
    &:focus {
      color: $black;
      background: $bold-red;
      outline: 3px solid $bold-red;

    }
  }

  @media screen and (min-width: 500px) {
    font-size: 1.1rem;
  }

  @media screen and (min-width: 700px) {
    font-size: 1.2rem;
  }



}