@font-face {
  font-family: "foo";
  font-weight: 400;
  src: url("../assets/fonts/Whyte-Regular.otf");
}

@font-face {
  font-family: "foo";
  font-weight: 400;
  font-style: italic;
  src: url("../assets/fonts/Whyte-RegularItalic.otf");
}

@font-face {
  font-family: "foo";
  font-weight: 600;
  src: url("../assets/fonts/Whyte-Medium.otf");
}

@font-face {
  font-family: "foo";
  font-weight: 700;
  src: url("../assets/fonts/Whyte-Bold.otf");
}